#login_page {
    background-color: #89E67A;
}
body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #35592F;
}
.conteiner{
    display: flex;
    flex-direction: column;
    height: 100vh;


}
.top_page{
    width: 100%;
    height: 20%;
}
.bottom_page{
    width: 100%;
    height: 20%;
}
.content{
    display: flex;
    flex-grow: 1;

}
.login_content{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
}
.login_left,.login_center,.login_right{
    flex-basis: 33.33%;
    flex-grow: 1;

}
.login_center{
    background-color: white;
    border-radius: 5em;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;

}
.avatar_profile{
    flex-basis: 30%;
    flex-grow: 1;
}
.form_login{
    flex-basis: 70%;
    flex-grow: 1;
}
.login_center{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.avatar_profile img{
    width: 50px;
    height: 50px;
    margin-top: 30px;
}
#login_form label{
    padding: 0;
}
#login_form input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
}
#login_form input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;

}
#botao_entrar{
    width: 100%;
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
